bouncer.deb
appliance/src/tester/*
appliance/src/__pycache__/*
appliance/src/firewall.db
appliance/*.pem
uninstall.sh
/.vs
/appliance/src/env
/appliance/src/.vscode
/client/python/.vscode
/client/python/env
/client/csharp/SampleBouncerApiClient/bin/Debug/netcoreapp2.2
/client/csharp/SampleBouncerApiClient/obj
/client/csharp/.vs/SampleBouncerApiClient/v16
/client/csharp/SampleBouncerApiClient.sln.DotSettings.user
/sdk/csharp/BouncerAPI.Standard/obj/Release/netstandard1.3/BouncerAPI.Standard.assets.cache
/sdk/csharp/BouncerAPI.Tests/obj/Debug/netcoreapp1.1
/client/csharp/.vs/SampleBouncerApiClient/DesignTimeBuild
