bouncer.deb
appliance/src/tester/*
appliance/src/__pycache__/*
appliance/src/firewall.db
appliance/*.pem
uninstall.sh
/.vs
/appliance/src/env
/appliance/src/.vscode
/client/python/.vscode
/client/python/env
/client/csharp/SampleBouncerApiClient/bin/Debug/netcoreapp2.2
/client/csharp/SampleBouncerApiClient/obj
/client/csharp/.vs/SampleBouncerApiClient/v16
/client/csharp/SampleBouncerApiClient.sln.DotSettings.user
